html{
    background-image: url("./assets/images&sprites/WoWScrnShot_090514_211628.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-size: cover;
}

#gnomeDiv{
    position: relative;
    left: 65%;
    top: 32em;
}
#gnomeDiv img{
    background-size: cover;
    height: 12em;
    width: auto;
    position: absolute;
}

#bootDiv{
    position: relative;
    left: 10em;
    top: 42em;
}

#bootDiv img{
    background-size: cover;
    height: 4em;
    width: auto;
    position: absolute;
}

#executionSentenceDiv{
    position: relative;
    left: 68%;
    top: 15em;
}

#executionSentence{
    background-size: cover;
    position: absolute;
}

#deadGnome{
    position: relative;
    left: 66%;
    top: 32em;
}

#deadGnome img{
    background-size: cover;
    height: 12em;
    width: auto;
    position: absolute;
}


#score {
    max-width: 4em;
    background-size: cover;
    color: white;
    background-color: black;
}

#critDiv{
    position: relative;
    left: 73%;
    top: 30em;
}

#crit {
    font-weight: bold;
    background-size: cover;
    height: 12em;
    width: auto;
    position: absolute;
}

#hammerOfWrathDiv{
    position: relative;
    left: 50%;
    top: 48em;
}

#hammerOfWrath{
    background-size: cover;
    position: absolute;
}

#hammerDiv{
    position: relative;
    left: 72%;
    top: -5em;
}

#hammer{
    height: 1.25em;
    width: auto;
    background-size: cover;
    position: absolute;
}